<template>
  <v-container>
    <v-layout row>
      <v-btn flat color="accent" class="grey--text">
        <v-icon class="mr-2">
          arrow_back
        </v-icon>

        Вернуться назад
      </v-btn>
    </v-layout>

    <v-flex xs12 md6 lg4>
      <h2>Место трудоустройства</h2>
      <span class="grey--text">
        Заполните необходимые поля
      </span>

      <v-text-field
        class="my-2"
        label="Место трудоустройства"
        placeholder="Введите название фирмы"
        messages="Укажите полностью наименование трудоустройства"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="Должность"
        placeholder="Введите должность"
        messages="Укажите полное название"
        solo
        flat
        background-color="accent"
      />

      <v-menu
        class="my-2"
        :close-on-content-click="true"
        :close-on_click="true"
        offset-y
        full-width
        lazy
      >
        <v-text-field
          slot="activator"
          v-model="date"
          label="Дата трудоустройства"
          solo
          flat
          background-color="accent"
          icon="event"
          readonly
          append-icon="calendar_today"
          min-width="290px"
        />

        <v-date-picker v-model="date" color="primary" />
      </v-menu>

      <v-menu
        class="my-2"
        :close-on-content-click="true"
        :close-on_click="true"
        offset-y
        full-width
        lazy
      >
        <v-text-field
          slot="activator"
          v-model="date"
          label="Дата окончания трудоустройства"
          messages="Оставьте поле пустым, если вы еще работаете"
          solo
          flat
          background-color="accent"
          icon="event"
          readonly
          append-icon="calendar_today"
          min-width="290px"
        />

        <v-date-picker v-model="date" color="primary" />
      </v-menu>

      <v-text-field
        class="my-2"
        label="Приказ о зачислении"
        placeholder="Введите числовое значение и дату"
        messages="Приказ зачисления похож на №12-121"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="ИНН"
        placeholder="Введите ИНН организации"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="КПП"
        placeholder="Введите КПП организации"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="Заработная плата"
        placeholder="Введите сумму в тыс. руб"
        messages="Укажите среднемесячный доход"
        background-color="accent"
        solo
        flat
      />

      <v-divider class="my-3" />

      <h1>Дополнительные файлы</h1>
      <p class="grey--text">
        Вы может прикрепить файлы в формате .docx .pdf
      </p>

      <h4 class="mt-4">
        Справка с места работы
      </h4>
      <p class="grey--text mb-0">
        Файл прикреплен
      </p>
      <v-btn color="primary" depressed>
        Прикрепить файл
      </v-btn>

      <h4 class="mt-4">
        Справка об отчислениях
      </h4>
      <v-btn color="primary" depressed>
        Прикрепить файл
      </v-btn>

      <h4 class="mt-4">
        Справка страховых взносов из налоговой
      </h4>
      <v-btn color="primary" depressed>
        Прикрепить файл
      </v-btn>

      <div class="mt-4">
        <v-btn color="primary" block outline>
          + добавить еще одно место работы
        </v-btn>
      </div>

      <v-divider class="my-4" />

      <v-btn color="primary" block depressed>
        Отправить заявку
      </v-btn>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  name: 'New',
  data() {
    return {
      date: ''
    }
  }
}
</script>

<style scoped>

</style>
