<template>
  <v-card flat>
    <v-container>
      <v-layout column>
        <v-layout row wrap>
          <v-flex v-for="filter of filters" :key="filter.label" md2 class="pr-2" shrink>
            <v-select
              :items="filter.items"
              attach
              background-color="accent"
              color="primary"
              flat
              :label="filter.label"
              solo
              width="181"
            />
          </v-flex>
        </v-layout>

        <v-layout justify-space-between row wrap>
          <v-flex shrink>
            <v-layout row wrap>
              <v-text-field
                background-color="accent"
                class="mt-1"
                color="primary"
                flat
                placeholder="Фамилия или имя"
                solo
              />

              <v-btn
                align-center
                color="primary"
                depressed
                large
              >
                Найти
              </v-btn>
            </v-layout>
          </v-flex>

          <v-flex shrink>
            <v-btn align-content-center color="accent" depressed large>
              <span class="black--text mr-2">
                Скачать выгрузку
              </span>

              <v-img height="20" src="/download-icon.svg" width="20" />
            </v-btn>
          </v-flex>
        </v-layout>

        <v-flex>
          <h2>Всего 76</h2>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: 'AppFilter',
  data() {
    return {
      filters: [
        {
          label: 'Год',
          items: ['Все', '2018', '2017', '2016', '2015']
        },
        {
          label: 'Статус',
          items: ['Все', 'Отработал 1 год', 'Отработал 2 года', 'Отработал 3 года', 'Отработал 4 года']
        },
        {
          label: 'Регион',
          items: ['Республика Татарстан']
        },
        {
          label: 'Пропуски',
          items: ['Все', 'Без пропусков', 'Пропустил 1 раз', 'Пропустил болле 2 раз']
        },
        {
          label: 'Студент',
          items: ['Все', 'Не переводился', 'Переводился']
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
