<template>
  <v-card
    class="my-1 pa-4"
    flat
  >
    <v-layout row>
      <v-flex md8>
        <v-layout column>
          <h1>{{ student.name }}</h1>
          <v-layout py-3 row>
            <v-flex md4 xs12>
              {{ student.district }}
            </v-flex>

            <v-flex md8 xs12>
              4 месяца осталось работать
            </v-flex>
          </v-layout>

          <span>Получено грантов: 4</span>

          <v-layout pt-3 row>
            <v-card
              v-for="grant of student.grants"
              :key="grant.year"
              class="price-card mx-1"
              color="secondary"
              flat
            >
              <v-layout column px-3 py-2>
                <span class="price-card-year grey--text">
                  {{ grant.year }}
                </span>

                <span class="price-card-price">
                  {{ grant.price }} &#8381;
                </span>
              </v-layout>
            </v-card>

            <v-card class="price-card mx-1" color="secondary" flat>
              <v-layout column px-3 py-2>
                <span class="price-card-year grey--text">
                  Итого
                </span>

                <span class="price-card-price">
                  {{ getAllGrantsSum }} &#8381;
                </span>
              </v-layout>
            </v-card>
          </v-layout>
        </v-layout>
      </v-flex>

      <v-divider class="mx-4" vertical />

      <v-flex md4>
        <v-layout column fill-height>
          <v-flex>
            <v-layout column>
              <span>ООО "ТКО-Информ"</span>
              <span>Младший программист 2 категории</span>
              <span>с 14.07.2016</span>
              <span>№15-к ль 14.07.2016</span>
            </v-layout>
          </v-flex>

          <v-flex shrink>
            <v-layout row>
              <v-card class="py-4 px-3" color="secondary" flat>
                Мест трудоостройства: 10
              </v-card>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  name: 'StudentCard',
  props: {
    student: {
      type: Object,
      required: true
    }
  },
  computed: {
    getAllGrantsSum() {
      return this.student.grants
        .map(grant => grant.price)
        .reduce((acc, price) => acc + price)
    }
  }
}
</script>

<style scoped>

</style>
