<template>
  <v-layout column>
    <student-card v-for="student of students" :key="student.name" :student="student" />
  </v-layout>
</template>

<script>
import StudentCard from './StudentCard'

export default {
  name: 'StudentList',
  components: { StudentCard },
  data() {
    return {
      students: [
        {
          name: 'Иванов Иван Иванович',
          district: 'Република Татарстан',
          grants: [
            { year: '2015', price: 79000 },
            { year: '2016', price: 79000 },
            { year: '2017', price: 69000 },
            { year: '2018', price: 79000 }
          ]
        },
        {
          name: 'Алехина Татьяна Петровна',
          district: 'Республика Татарстан',
          grants: [
            { year: '2015', price: 79000 },
            { year: '2016', price: 79000 }
          ]
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
