<template>
  <v-container fill-height>
    <v-layout align-center text-xs-center>
      <v-flex md4 offset-md4 xs12>
        <v-layout justify-center mb-5>
          <v-img contain max-width="200" src="/itis-logo.png" />
        </v-layout>

        <h1 class="mb-5">
          Войдите в свой аккаунт
        </h1>

        <v-btn block color="#507299" large>
          <v-layout align-center justify-center>
            <v-img contain max-height="14" max-width="27" src="/vk-logo.svg" />

            <span class="white--text ml-2">
              Войти с помощью Вконтакте
            </span>
          </v-layout>
        </v-btn>

        <v-layout align-center class="mt-4">
          <v-divider />

          <div class="grey--text mx-2">
            или
          </div>

          <v-divider />
        </v-layout>

        <v-form class="mt-4">
          <v-alert :value="true" class="red--text my-2" color="error">
            Неверно введен логин или пароль
          </v-alert>

          <v-text-field
            label="Email"
            placeholder="example@gmail.com"
            flat
            solo
            color="primary"
            background-color="accent"
          />

          <v-text-field
            :append-icon="isPasswordVisible ? 'visibility_off' : 'visibility'"
            :type="isPasswordVisible ? 'text' : 'password'"
            label="Пароль"
            placeholder="Введите пароль"
            flat
            solo
            color="primary"
            background-color="accent"
            @click:append="isPasswordVisible = !isPasswordVisible"
          />

          <v-btn depressed block color="primary" large>
            Войти
          </v-btn>

          <v-layout column>
            <v-btn flat large to="/auth/recover">
              Забыли пароль?
            </v-btn>

            <v-btn flat large to="/auth/sign_up">
              Регистрация
            </v-btn>
          </v-layout>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      isPasswordVisible: false
    }
  },
  beforeMount() {
    this.$store.dispatch('fullScreen/enable')
  },
  destroyed() {
    this.$store.dispatch('fullScreen/disable')
  }
}
</script>

<style scoped>

</style>
