<template>
  <v-container fill-height>
    <v-layout align-center h100>
      <v-flex md4 offset-md4 text-xs-center xs12>
        <h1 class="mb-5">
          Сбросить пароль
        </h1>

        <v-form>
          <v-text-field
            label="Email"
            placeholder="example@gmail.com"
            solo
            flat
            background-color="accent"
            color="primary"
          />

          <v-btn block color="primary" large depressed>
            Отправить инструкцию сброса
          </v-btn>

          <v-btn flat large to="/auth/login">
            Назад
          </v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Recover',
  beforeMount() {
    this.$store.dispatch('fullScreen/enable')
  },
  destroyed() {
    this.$store.dispatch('fullScreen/disable')
  }
}
</script>

<style scoped>

</style>
