<template>
  <v-container fill-height>
    <v-layout align-center>
      <v-flex column md4 offset-md4 text-xs-center xs12>
        <v-layout justify-center mb-5>
          <v-img contain max-width="200" src="/itis-logo.png" />
        </v-layout>

        <h1 class="mb-5">
          Регистрация
        </h1>

        <v-btn block color="#507299" large>
          <v-layout align-center justify-center>
            <v-img contain max-height="14" max-width="27" src="/vk-logo.svg" />

            <span class="white--text ml-2">
              Войти с помощью Вконтакте
            </span>
          </v-layout>
        </v-btn>

        <v-layout align-center class="mt-4">
          <v-divider />

          <div class="grey--text mx-2">
            или
          </div>

          <v-divider />
        </v-layout>

        <v-form class="mt-4">
          <v-text-field
            label="Email"
            messages="В следующий раз вы сможете войти используя этот адрес"
            placeholder="example@gmail.com"
            solo
            flat
            background-color="accent"
            color="primary"
          />

          <v-text-field
            :append-icon="isPasswordVisible ? 'visibility_off' : 'visibility'"
            :type="isPasswordVisible ? 'text' : 'password'"
            class="mt-4"
            label="Пароль"
            messages="Для безопасности введите не менее 8 символов"
            placeholder="Введите пароль"
            solo
            flat
            background-color="accent"
            color="primary"
            @click:append="isPasswordVisible = !isPasswordVisible"
          />

          <v-btn depressed block class="mt-4" color="primary" large>
            Создать аккаунт
          </v-btn>

          <v-btn flat large to="/auth/login">
            Войти
          </v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'SignUp',
  data() {
    return {
      isPasswordVisible: false
    }
  },
  beforeMount() {
    this.$store.dispatch('fullScreen/enable')
  },
  destroyed() {
    this.$store.dispatch('fullScreen/disable')
  }
}
</script>

<style scoped>

</style>
