<template>
  <v-container>
    <v-layout row>
      <v-btn flat color="accent" class="grey--text">
        <v-icon class="mr-2">
          arrow_back
        </v-icon>

        Вернуться назад
      </v-btn>
    </v-layout>

    <v-flex xs12 md6 lg4>
      <h1>Редактирование профиля</h1>

      <v-text-field
        class="my-2"
        label="Имя"
        placeholder="Введите ваше имя"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="Фамилия"
        placeholder="Введите вашу фамилию"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="Отчетсво"
        placeholder="Введите ваше отчество"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="Телефон"
        background-color="accent"
        solo
        flat
      />

      <v-divider class="my-4" />

      <h1>Регион и период учебы</h1>

      <v-text-field
        class="my-2"
        label="Укажите вуз с которого перешли"
        placeholder="Укажите вуз"
        messages="Оставить поле пустым, если перехода не было"
        background-color="accent"
        solo
        flat
      />

      <v-text-field
        class="my-2"
        label="Укажите факультет с которого перешли в ИТИС"
        placeholder="Укажите факультет"
        messages="Оставить поле пустым, если перехода не было"
        background-color="accent"
        solo
        flat
      />

      <v-divider class="my-4" />

      <h1>Академ отпуск</h1>
      <p class="grey--text">
        Заполните поляпри наличии академ отпуска
      </p>

      <v-radio-group row label="Был академ отпуск?">
        <v-radio color="primary" label="Да" value="y" />
        <v-radio color="primary" label="Нет" value="n" />
      </v-radio-group>

      <v-layout row>
        <v-text-field
          class="mx-1"
          label="Год выхода"
          placeholder="Укажите год выхода"
          messages="За год считается год выхода в академ"
          background-color="accent"
          solo
          flat
        />

        <v-text-field
          class="mx-1"
          label="Год возвращения"
          placeholder="Укажите год возвращения"
          messages="За год считается год выхода на учебу"
          background-color="accent"
          solo
          flat
        />
      </v-layout>

      <v-divider class="my-4" />

      <h1>Поучение гранта</h1>

      <p class="grey--text mb-0">
        Выберите курс и процентную ставку на грант
      </p>
      <p class="grey--text mb-0">
        В ином случае оставьте значение пустым
      </p>

      <v-select
        class="my-2"
        :items="['Комерческая основа', '80% грант', '100% грант']"
        attach
        background-color="accent"
        color="primary"
        label="1 курс"
        flat
        solo
      />

      <v-select
        class="my-2"
        :items="['Комерческая основа', '80% грант', '100% грант']"
        attach
        background-color="accent"
        color="primary"
        label="2 курс"
        flat
        solo
      />

      <v-select
        class="my-2"
        :items="['Комерческая основа', '80% грант', '100% грант']"
        attach
        background-color="accent"
        color="primary"
        label="3 курс"
        flat
        solo
      />

      <v-select
        class="my-2"
        :items="['Комерческая основа', '80% грант', '100% грант']"
        attach
        background-color="accent"
        color="primary"
        label="4 курс"
        flat
        solo
      />

      <v-divider class="my-4" />

      <v-btn color="primary" depressed block large>
        Сохранить изменения
      </v-btn>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  name: 'Edit'
}
</script>

<style scoped>

</style>
