<template>
  <v-container>
    <v-card flat class="pa-3">
      <v-layout row wrap>
        <v-flex class="pr-2">
          <v-layout column>
            <div>Фото</div>
            <v-btn color="info" depressed block class="grey--text">
              Редактировать
            </v-btn>
          </v-layout>
        </v-flex>
        <v-layout column>
          <v-flex>
            <h2>Иванов Иван Иванович</h2>
          </v-flex>

          <v-flex class="pa-2">
            <h3>Регион прибытия</h3>
            <span class="grey--text">
              г. Лаишево
            </span>
          </v-flex>

          <v-flex class="pa-2">
            <h3>Мобильный телефон</h3>
            <span class="grey--text">
              +7 (998) 446-78-45
            </span>
          </v-flex>

          <v-flex class="pa-2">
            <h3>E-mail</h3>
            <span class="grey--text">
              example@gmail.com
            </span>
          </v-flex>

          <v-flex class="pa-2">
            <h3>Текущее место работы</h3>
            <span class="grey--text">
              ОАО "Интерком"
            </span>
          </v-flex>

          <v-flex class="pa-2">
            <h3>Должность</h3>
            <span class="grey--text">
              Младший программист
            </span>
          </v-flex>

          <v-flex class="pa-2">
            <h3>Приказ о зачислении</h3>
            <span class="grey--text">
              №12-21 от 23.03.2019
            </span>
          </v-flex>

          <v-flex class="pa-2">
            <h3>Осталось работать</h3>

            <v-layout class="px-1" justify-space-between>
              <span class="grey--text">
                456 дней
              </span>

              <span class="grey--text">
                из 1299
              </span>
            </v-layout>

            <v-progress-linear :value="456 / 1299 * 100" class="mt-0" />
          </v-flex>

          <v-flex>
            <v-tabs slider-color="primary">
              <v-tab>
                Заявки с места работы
              </v-tab>

              <v-tab>
                История изменений
              </v-tab>

              <v-tab-item>
                <v-btn
                  class="grey--text my-3"
                  block
                  color="accent"
                  large
                  depressed
                  to="/profile/jobs/new"
                >
                  Добавить новое место работы
                </v-btn>

                <v-card class="my-1" color="accent" flat>
                  <v-card-title primary-title>
                    <v-layout row justify-space-between>
                      <h3>ОАО Трудовые будни</h3>

                      <v-flex shrink>
                        <v-menu offset-y>
                          <v-btn slot="activator" flat icon>
                            <v-icon>more_vert</v-icon>
                          </v-btn>
                          <v-list>
                            <v-list-tile>Click Me</v-list-tile>
                            <v-list-tile>Click Me</v-list-tile>
                            <v-list-tile>Click Me</v-list-tile>
                            <v-list-tile>Click Me</v-list-tile>
                          </v-list>
                        </v-menu>
                      </v-flex>
                    </v-layout>
                  </v-card-title>

                  <v-card-text>
                    <v-layout column>
                      <v-layout row>
                        <v-flex>
                          <h4>Должность</h4>
                          <span>Младший программист</span>
                        </v-flex>

                        <v-flex>
                          <h4>Приказ о зачислении</h4>
                          <span>№12-21 от 23.03.2019</span>
                        </v-flex>

                        <v-flex>
                          <h4>Отработано</h4>
                          <span>234 дня</span>
                        </v-flex>
                      </v-layout>

                      <v-layout column pt-3>
                        <h4>Прикрепленные документы</h4>
                        <router-link to="#" class="grey--text">
                          Справка с места работы
                        </router-link>
                        <router-link to="#" class="grey--text">
                          Справка об отчислениях
                        </router-link>
                        <router-link to="#" class="grey--text">
                          Справка страховых взносов из налоговой
                        </router-link>
                      </v-layout>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-tab-item>

              <v-tab-item class="pa-2">
                <v-card class="pa-2 my-1" color="accent" flat>
                  <v-layout row justify-space-between>
                    <v-flex class="pa-2">
                      <h4>26.03.1997</h4>
                      <span class="grey--text">
                        Фамилия &laquo;Иванов&raquo; была изменена на &laquo;Петров&raquo;
                      </span>
                    </v-flex>
                    <v-flex shrink>
                      <v-menu offset-y>
                        <v-btn slot="activator" flat icon>
                          <v-icon>more_vert</v-icon>
                        </v-btn>
                        <v-list>
                          <v-list-tile>Click Me</v-list-tile>
                          <v-list-tile>Click Me</v-list-tile>
                          <v-list-tile>Click Me</v-list-tile>
                          <v-list-tile>Click Me</v-list-tile>
                        </v-list>
                      </v-menu>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Profile',
  data() {
    return {
      progressLinear: 14
    }
  }
}
</script>

<style scoped>
  h2 {
    font-size: 38px;
  }

  h3, p, span {
    font-size: 22px;
  }

  h4 {
    font-size: 19px;
  }
  span {
    font-weight: 200;
  }
</style>
