<template>
  <v-app color="#ffffff" light>
    <v-toolbar
      v-if="!isFullScreen"
      align-center
      color="#ffffff"
      flat
    >
      <v-toolbar-title>
        <v-img src="/itis-logo-mini.png" contain min-width="92" />
      </v-toolbar-title>

      <v-spacer />

      <v-toolbar-items class="hidden-xs-and-up">
        <v-btn
          v-for="link of toolbarLinks"
          :key="link.title"
          flat
          :to="link.to"
        >
          {{ link.title }}
        </v-btn>
      </v-toolbar-items>

      <v-spacer />

      <v-toolbar-items>
        <v-btn v-for="icon of icons" :key="icon.icon" flat color="primary" :to="icon.to">
          <v-icon>{{ icon.name }}</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <nuxt />
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      toolbarLinks: [
        { title: 'Грантовики', to: '/grants' },
        { title: 'Аналитика', to: '/analytics' },
        { title: 'Архив', to: '/archive' },
        { title: 'Константы', to: '/constants' }
      ],
      icons: [
        { name: 'person_outline', to: '/profile' },
        { name: 'exit_to_app', to: '#' }
      ]
    }
  },
  computed: {
    isFullScreen() {
      return this.$store.state.fullScreen.isFullScreen
    }
  }
}
</script>

<style>
  #app {
    background-color: #ffffff;
  }
</style>
