<template>
  <v-container>
    <v-layout column>
      <v-layout align-content-start justify-start row wrap>
        <v-flex shrink>
          <v-layout class="mr-5" column>
            <h1 class="header-numbers">
              12 870 000
            </h1>

            <div class="grey--text">
              Общая сумма возврата в виде налога
            </div>
          </v-layout>
        </v-flex>

        <v-flex shrink>
          <v-layout column>
            <h1 class="header-numbers">
              45 000
            </h1>

            <span class="grey--text">
              Средняя зарплата выпускников
            </span>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout class="mt-4" row>
        <v-flex>
          <v-tabs>
            <v-tab v-for="tab of tabs" :key="tab.title">
              {{ tab.title }}
            </v-tab>

            <v-tab-item v-for="tab of tabs" :key="tab.title">
              <v-flex shrink>
                <v-card class="pa-3" flat>
                  <v-data-table
                    :headers="tab.content.headers"
                    :items="tab.content.items"
                    disable-initial-sort
                    hide-actions
                  >
                    <template slot="items" slot-scope="props">
                      <td v-for="header of tab.content.headers" :key="header.value">
                        {{ props.item[header.value] }}
                      </td>
                    </template>
                  </v-data-table>
                </v-card>
              </v-flex>
            </v-tab-item>
          </v-tabs>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Analytics',
  data() {
    return {
      tabs: [
        {
          title: 'Должники',
          content: {
            headers: [],
            items: []
          }
        },
        {
          title: 'Регион прибытия',
          content: {
            headers: [
              { text: 'Регион', value: 'district' },
              { text: 'Количество студентов', value: 'studentCount' }
            ],
            items: [
              { district: 'Республика Татарстан', studentCount: 76 },
              { district: 'Республика Коми', studentCount: 23 },
              { district: 'Иванов Иван Иванович', studentCount: 2 },
              { district: 'Петров Петр Петрович', studentCount: 1 },
              { district: 'Иванов Иван Иванович', studentCount: 1 },
              { district: 'Петров Петр Петрович', studentCount: 4 }
            ]
          }
        },
        {
          title: 'Стоимость обучения',
          content: {
            headers: [],
            items: []
          }
        },
        {
          title: 'Работодатели',
          content: {
            headers: [
              { text: 'Организация', value: 'organization' },
              { text: 'Количество студентов', value: 'studentCount' }
            ],
            items: [
              { organization: 'Ак барс банк', studentCount: 16 },
              { organization: 'Flatstack', studentCount: 7 },
              { organization: 'ОАО "Технологии"', studentCount: 5 },
              { organization: 'Технократия', studentCount: 5 },
              { organization: 'Fujitsu', studentCount: 2 },
              { organization: 'РЖД', studentCount: 1 }
            ]
          }
        },
        {
          title: 'Налоги по годам',
          content: {
            headers: [
              { text: 'Год', value: 'year' },
              { text: 'Сумма налогов', value: 'taxes' }
            ],
            items: [
              { year: '2018', taxes: '3 200 870, 76' },
              { year: '2017', taxes: '12 000 000, 98' },
              { year: '2016', taxes: '2 008 970, 87' },
              { year: '2015', taxes: '4 009 987, 76' }
            ]
          }
        }
      ]
    }
  }
}
</script>

<style lang="stylus" scoped>
  .header-numbers {
    color: #00a3f5;
    font-size: 32px;
  }
</style>
