<template>
  <v-layout column shrink>
    <app-filter />
    <v-container>
      <student-list />
    </v-container>
  </v-layout>
</template>

<script>
import AppFilter from '../components/AppFilter'
import StudentList from '../components/StudentList'

export default {
  name: 'Archive',
  components: { StudentList, AppFilter }
}
</script>

<style lang="stylus" scoped>
  .price-card {
    .price-card-year {
      font-size: 14px
      font-weight: 200
    }

    .price-card-price {
      font-size 16px
      font-weight 500
    }
  }
</style>
