<template>
  <v-layout column>
    <app-filter />
    <v-container>
      <student-list />
    </v-container>
  </v-layout>
</template>

<script>
import AppFilter from '../components/AppFilter'
import StudentList from '../components/StudentList'

export default {
  name: 'Grants',
  components: { StudentList, AppFilter }
}
</script>

<style scoped>

</style>
